<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.SysMenu" >
    <id column="menu_id" property="menuId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <!--查询结果为多表字段，需要在pojo中多加入一个字段-->
    <result column="parentName" property="parentName" jdbcType="VARCHAR"></result>
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="perms" property="perms" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
  </resultMap>

  <!--根据用户ID查询用户一级菜单-->
  <select id="listDirsByUserId" parameterType="Long" resultType="java.util.Map">
    select distinct
        c.menu_id menuId,
        c.parent_id parentId,
        c.name name,
        c.icon icon,
        c.type type
    from
	    sys_user_role a
    inner join
	    sys_role_menu b
    on
	    a.role_id=b.role_id
    inner join
	    sys_menu c
    on
	    b.menu_id=c.menu_id
    where
	    a.user_id=#{userId} and c.type=0
  </select>

  <!-- 查询一级目录对应的二级菜单 -->
  <select id="listSubMenusOfDirs"  resultType="java.util.Map">
    select distinct
        c.menu_id menuId,
        c.parent_id parentId,
        c.name name,
        c.icon icon,
        c.type type,
        c.url url
    from
	    sys_user_role a
    inner join
	    sys_role_menu b
    on
	    a.role_id=b.role_id
    inner join
	    sys_menu c
    on
	    b.menu_id=c.menu_id
    where
	    a.user_id=#{userId} and c.parent_id=#{parentId}
  </select>

  <!--查询用户按钮权限-->
  <select id="listButtonPermsByUserId" parameterType="Long" resultType="String">
    select distinct
        c.perms
    from
	    sys_user_role a
    inner join
	    sys_role_menu b
    on
	    a.role_id=b.role_id
    inner join
	    sys_menu c
    on
	    b.menu_id=c.menu_id
    where
	    a.user_id=#{userId}
  </select>

  <!--“菜单管理”:显示菜单信息-->
  <select id="listMenusInfo" parameterType="com.qf.dto.QueryDTO" resultMap="BaseResultMap">
    select
        a.menu_id,
        a.parent_id,
        a.name,
        b.name parentName,
        a.url,
        a.perms,
        a.type,
        a.icon,
        a.order_num
    from
        sys_menu a
    left join
        sys_menu b
    on
        a.parent_id=b.menu_id
    <where>
      <if test="search != null and search != '' ">
        and a.name like concat('%',#{search},'%')
      </if>
    </where>
      <if test="sort != null and sort != '' ">
          order by a.${sort} ${order}
      </if>
  </select>

  <!--“菜单管理”:删除菜单信息-->
  <delete id="deleteMenusInfo" parameterType="java.util.List">
    delete from 
        sys_menu
    where 
        menu_id in
      <foreach collection="list" open="(" close=")" separator="," item="id">
          #{id}
      </foreach>
  </delete>

  <!--“菜单管理”：生成树形菜单-->
  <select id="generateZtree" resultMap="BaseResultMap">
    select
        menu_id,
        parent_id,
        name,
        url,
        perms,
        type,
        icon,
        order_num
    from
        sys_menu
    where
        type != 2
  </select>

  <!--“菜单管理”：新增菜单信息-->
  <insert id="addMenuInfo" parameterType="com.qf.pojo.SysMenu">
    insert into
      sys_menu(
                parent_id,
                name,
                url,
                perms,
                type,
                icon,
                order_num
                )
      values(
                #{parentId},
                #{name},
                #{url},
                #{perms},
                #{type},
                #{icon},
                #{orderNum}
                )
  </insert>

  <!--“菜单管理”：修改菜单信息-->
  <update id="updateMenuInfo" parameterType="com.qf.pojo.SysMenu">
    update
        sys_menu
    set
        parent_id = #{parentId},
        name = #{name},
        url = #{url},
        perms = #{perms},
        type = #{type},
        icon = #{icon},
        order_num = #{orderNum}
    where
        menu_id = #{menuId}
  </update>

</mapper>