<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.SysRole" >
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--根据用户id查询用户角色-->
  <select id="listRolesByUserId" parameterType="long" resultType="String">
    select c.role_name
    from
      sys_user_role a
    inner join
      sys_user b
    on
      a.user_id=b.user_id
    inner join
      sys_role c
    on a.role_id=c.role_id
    where
      a.user_id=#{userId}
  </select>

  <!--根据用户名查询用户Id-->
  <select id="getUserIdByUserName" parameterType="String" resultType="Long">
    select user_id from sys_user where username=#{0}
  </select>
</mapper>