<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.SysUserMapper" >

  <resultMap id="BaseResultMap" type="com.qf.pojo.SysUser" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, username, password, email, mobile, status, create_user_id, create_time
  </sql>

  <!--“用户管理”：显示所有用户信息-->
  <select id="listAllUsers" resultMap="BaseResultMap" parameterType="com.qf.dto.QueryDTO">
    select
        <include refid="Base_Column_List"/>
    from
        sys_user
    <where>
      <if test="search != null and search != ''">
        and username like concat('%',#{search},'%')
      </if>
    </where>
      <if test="sort != null and sort != ''">
        order by ${sort} ${order}
      </if>
  </select>

  <!--“用户管理”：删除用户-->
  <delete id="deleteUsers" parameterType="java.util.List">
    delete from
        sys_user
    where
        user_id in
    <foreach collection="list" open="(" close=")" item="id">
      #{id}
    </foreach>
  </delete>

  <!--“用户管理”：添加用户-->
  <insert id="addUser" parameterType="com.qf.pojo.SysUser">
    insert into
        sys_user(
                username,
                password,
                email,
                mobile,
                status,
                create_user_id,
                create_time
                )
        values(
                #{username},
                #{password},
                #{email},
                #{mobile},
                #{status},
                #{createUserId},
                #{createTime}
                )
  </insert>

  <!--“用户管理”：修改用户信息-->
  <update id="updateUserInfo" parameterType="com.qf.pojo.SysUser">
    update
        sys_user
    set
        username=#{username},
        password=#{password},
        email=#{email},
        mobile=#{mobile}
    where
        user_id=#{userId}
  </update>

  <!--“用户管理”：excel导出用户信息-->
  <select id="exportUserInfo" resultType="java.util.Map">
    select
        user_id as userId,
        username,
        email,
        mobile,
        status,
        create_user_id as createUserId,
        create_time as createTime
    from
        sys_user
  </select>

</mapper>