<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.Tag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="BIGINT" />
    <result column="click_count" property="clickCount" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List">
    id,name,is_deleted,create_time,last_update_time,click_count,type
  </sql>
  <!--“标签管理”：显示所有标签信息-->
  <select id="listTags" resultMap="BaseResultMap" parameterType="com.qf.dto.QueryDTO">
    select
        <include refid="Base_Column_List"/>
    from
        tag
    <where>
      <if test="search != null and search != ''">
        and name like concat('%',#{search},'%')
      </if>
    </where>
    <if test="sort != null and sort != ''">
      order by ${sort} ${order}
    </if>
  </select>

  <!--“标签管理”：删除标签信息-->
  <delete id="deleteTags" parameterType="java.util.List">
    delete from
        tag
    where
        id in
    <foreach collection="list" open="(" close=")" separator="," item="id">
      #{id}
    </foreach>
  </delete>

  <!--“标签管理”：新增标签-->
  <insert id="addTag" parameterType="com.qf.pojo.Tag">
    insert into
        tag(
            name,
            click_count
        )
        values(
            #{name},
            #{clickCount}
        )
  </insert>

  <!--“标签管理”：修改标签-->
  <update id="updateTag" parameterType="com.qf.pojo.Tag">
    update
        tag
    set
        name = #{name},
        click_count = #{clickCount}
    where
        id = #{id}
  </update>

</mapper>